<p id="notice"><%= notice %></p>

<p>
  <strong>Tables:</strong>
  <%= @number_of_seat.number %>
</p>

<p>
  <strong>Number of seats:</strong>
  <%= @number_of_seat.seatstable %>
</p>


<%= link_to 'Edit', edit_number_of_seat_path(@number_of_seat) %> |
<%= link_to 'Back', root_path %>
