<p id="notice"><%= notice %></p>

<p>
  <strong>Area:</strong>
  <%= @seat.area %>
</p>

<p>
  <strong>Number:</strong>
  <%= @seat.number %>
</p>

<%= link_to 'Edit', edit_seat_path(@seat) %> |
<%= link_to 'Back', root_path %>
