<div class="form gray-panel d-flex justify-content-center">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <h2 class="text-center text-success">Edit <%= resource_name.to_s.humanize %></h2>
    <hr>

    <%= devise_error_messages! %>

    <div class="field mb-3">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, :class => "form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field mb-3">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field mb-3">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
    </div>

    <div class="field mb-3">
      <%= f.label :current_password %>
      <%= f.password_field :current_password, autocomplete: "off", :class => "form-control" %>
    </div>

    <hr>
    <div class="actions d-flex justify-content-center">
      <%= f.submit "Update", :class => "mr-3 btn btn-success btn-sm" %>
      <%= link_to "Back", :back %>
    </div>
  <% end %>

</div>
