<%= content_tag :div, :id => :current_user, :data => { :provider => current_provider.id } do %>
<% end %>

<div class="jumbotron">
  <h1 class="display-3" style="font-family:sans-serif;">Hello, <%= current_provider.firstname %>!</h1>
  <hr class="my-4">
</div>
<br/>

<div class="panel-body hidden" id="provider-notifications">
</div>

<h2>Restaurants:</h2>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <h3><b><%= restaurant.title %></b></h3>
      <ul>
        <% restaurant.orders.each do |order| %>
          <li>
            <b>Active:</b> <%= "#{order.active_from.strftime("%d-%m-%Y")} - #{order.active_till.strftime("%d-%m-%Y")}" %>
            <% if offer_exists?(order.id, current_provider.id) %>
              <%= hidden_field_tag :active_from, order.active_from.strftime("%m/%d/%Y") %>
              <%= hidden_field_tag :active_till, order.active_till.strftime("%m/%d/%Y") %>
              <%= link_to 'Edit', edit_offer_path(offer_id(order.id), :order_id => order.id), :name => "edit", class: "btn btn-warning btn-sm active" %>
            <% else %>
                <%= link_to 'Add', new_offer_path(:order_id => order.id), class: "btn btn-success btn-sm" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
<ul>
