<h2>New Order   <%= link_to 'Add', new_order_path(current_manager.restaurant), class: "btn btn-danger btn-sm", method: :get %></h2>
<ul>
  <% current_manager.restaurant.orders.each do |order| %>
        <p><b>Activate:</b> <%= "#{order.active_from.strftime("%d-%m-%Y")} - #{order.active_till.strftime("%d-%m-%Y")}" %></p>
          <% order.order_items.each do |item| %>
            <ol>
              <li><%= item.item %>
              <%= item.quantity %>
              <%= item.unit_of_measure %></li>
            </ol>
          <% end %>
      <br />
  <% end %>
</ul>
