<h2>New Order   <%= link_to 'Add', new_order_path(current_manager.restaurant), class: "btn btn-danger btn-sm", method: :get %></h2>

<ul>
  <% current_manager.restaurant.orders.each do |order| %>
    <h3>Active:</b> <%= "#{order.active_from.strftime("%d-%m-%Y")} - #{order.active_till.strftime("%d-%m-%Y")}" %></h3>
        <ol>
        <% order.order_items.each do |item| %>
          <li><%= "#{item.item}" %>
            <%= "#{item.quantity}" %>
            <%= "#{item.unit_of_measure}" %>
          </li>
        <% end %>
        </ol>
      <br />
  <% end %>
</ul>

<ul>
  <% current_manager.restaurant.providers.each do |provider| %>
    <%= provider.firstname %>
    <% provider.offers.each do |offer| %>
      <h4>Provider delivery time:</b> <%= "#{offer.delivery_time.strftime("%d-%m-%Y")} #{provider.id}" %> <%= link_to 'Accept', accept_offer_path(:id => provider.id), :class => "btn btn-danger btn-sm" %></h4>
      <ol>
      <% offer.offer_items.each do |offer_item| %>
        <li><%= "#{offer_item.price}" %></li>
      <% end %>
      </ol>
    <% end %>
  <% end %>
</ul>
