<h2>Seats configuration    <%= link_to 'Add', new_seat_path, class: "btn btn-danger btn-sm", method: :get %></h2>
<ul>
  <% current_manager.restaurant.seats.each do |seat| %>
  <div class="container">
    <li>
      <div class="row">
        <div class="col-sm-12">
          <%= seat.area %>
          <div class="row">
          <% seat.number_of_seats.sort{ |a,b| a.number<=>b.number }.each do |num_seat| %>
            <div class="col-xs-2 col-xs-2">
              <button type="button" id="ts" class="btn btn-primary">Table:<%= "#{num_seat.number}" %>Seats:<%= "#{num_seat.seatstable}" %></button>
            </div>
          <% end %>
          </div>
        </div>
      </div>
      <%= link_to 'Add Tables', new_number_of_seat_path(:seat_id => seat.id), class: "btn btn-warning", method: :get%>
      <%= link_to 'Edit', edit_seat_path(seat), class: 'btn btn-warning btn-sm', method: :get %>
      <%= link_to 'Destroy', seat, class: 'btn btn-warning btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  </div>
  <% end %>
</ul>
