<%= link_to 'Log Out', destroy_manager_session_path, method: :delete %>

<h1>Welcome
    <%= current_manager.firstname %></h1>
</br>

<br/><br/>
<%= button_to 'New Cook', new_employee_registration_path, :params => { :type => "Cook" },
  class: "btn btn-danger btn-lg", method: :get %>
<br/>
<%= button_to 'New Bartender', new_employee_registration_path, :params => { :type => "Bartender" },
  class: "btn btn-danger btn-lg", method: :get %>
<br/>
<%= button_to 'New Waiter', new_employee_registration_path, :params => { :type => "Waiter" },
  class: "btn btn-danger btn-lg", method: :get %>
<br/>
<h2>Employees</h2>
<ul>
<% current_manager.employees.each do |employee| %>
<li><%= employee.firstname %></li>
<% end %>
</ul>

<br/><br/>
<%= button_to 'New Provider', new_provider_registration_path, class: "btn btn-danger btn-lg", method: :get %>
<br/>
<% unless current_manager.restaurant.nil? %>
<h2>Providers</h2>

<ul>
<% current_manager.restaurant.providers.each do |provider| %>
<li><%= provider.firstname %></li>
<% end %>
</ul>

<%= render partial: 'orders' %>
<%= render partial: 'restaurant' %>
<%= render partial: 'foods' %>
<%= render partial: 'drinks' %>
<%= render partial: 'seats' %>

<% end %>

