<h2>Offers</h2>
<br />
<%= button_to root_path, :class => "btn btn-lg", method: :get do %>
<%= fa_icon "arrow-left", :class => "fa-lg fa-fw" %>
<% end %>

<ul>
  <% current_manager.restaurant.providers.each do |provider| %>
    <% provider.offers.each do |offer| %>

    <h4>Provider: <b><%= "#{provider.firstname} #{provider.lastname}" %></b> has delivery time: <%= "#{offer.delivery_time.strftime("%d-%m-%Y")}" %>
    <% if current_order(offer.order_id).order_active %>
      <%= link_to 'Accept', accept_offer_path(:id => provider.id, :offer_id => offer.id), :name => "accept", :class => "btn btn-danger btn-sm disabled" %></h4>
    <% else %>
      <%= link_to 'Accept', accept_offer_path(:id => provider.id, :offer_id => offer.id), :name => "accept", :class => "btn btn-success btn-sm active" %></h4>
    <% end %>
      <%= render partial: 'offers_item', :locals => { :offer => offer } %>
    <% end %>
  <% end %>
</ul>
