<h1>Orders</h1>
<%= link_to "New", new_order_path(current_manager.restaurant), class: "btn btn-danger btn-lg", method: :get %>
<br /><br />
<h2>List of orders:</h2><br />
<ul>
  <% current_manager.restaurant.orders.each do |order| %>
    <h3>Active:</b> <%= "#{order.active_from.strftime("%d-%m-%Y")} - #{order.active_till.strftime("%d-%m-%Y")}" %></h3>
      <%= render partial: 'orders_item', :locals => { :order => order } %>
      <br />
  <% end %>
</ul>

<br /><br />
<%= button_to root_path, :class => "btn btn-lg", method: :get do %>
<%= fa_icon "arrow-left", :class => "fa-lg fa-fw" %>
<% end %>
<br /><br /
