<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.text_field :restaurant_id, hidden: true, value: current_manager.restaurant.id %>
  <%= f.password_field :password, hidden: true, value: @generated_password %>
  <%= f.password_field :password_confirmation, hidden: true, value: @generated_password %>

  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "providers/shared/links" %>
