<div class="column container-fluid">
  <div class="alert alert-success">
    <h1 class="text-center">
      <%= fa_icon "users", :text => "Friends", :class => "fa-fw" %>
    </h1>
  </div>
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
        </li>
      </ul>
    </div>
    <div class="card-block">
      <div class="container-fluid">
        <%= form_tag "/search_friends", :remote => true, :method => :get, :class => "form-inline my-2 my-lg-0" do %>

          <%= search_field_tag "search", params[:search], :class => "form-control mr-sm-2", :placeholder => "Search" %>
          <%= button_tag :class => "btn btn-success my-2 my-sm-0" do %>
            <%= fa_icon "search", :class => "fa-sm fa-fw" %>
          <% end %>

          <div class="container-fluid">
            &nbsp
          </div>

          <%= link_to root_path, :class => "btn btn-success pull-right" do %>
            <%= fa_icon "user-plus", :text => "Find friends", :class => "fa-sm" %>
          <% end %>
        <% end %>

        <hr>
      </div>

      <div class="card-deck" id="friends-deck">
        <% @friends.each do |friend| %>
          <%= render "show", :friend => friend %>
        <% end %>
      </div>
    </div>
  </div>
</div>
