<div class="column container-fluid">
  <div class="alert alert-success">
    <h1 class="text-center">
      <%= fa_icon "users", :text => "Friends", :class => "fa-fw" %>
    </h1>
  </div>

  <hr>

  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <button class="nav-link text-success active" id="all-friends">
            <b>All friends</b>
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-link text-success" id="pending-requests">
            <b>Friend requests</b>
            <% if pending_requests > 0 %>
              <span class="badge badge-danger"><%= pending_requests %></span>
            <% end %>
          </button >
        </li>
      </ul>
    </div>
    <div class="card-block" id="friends-block">
      <div class="container-fluid" id="search-box">
        <%= form_tag search_friends_path(:page => :index), :remote => true, :method => :get, :class => "form-inline my-2 my-lg-0" do %>

          <%= search_field_tag "search", params[:search], :class => "form-control mr-sm-2", :placeholder => "Search" %>
          <%= button_tag :class => "btn btn-success my-2 my-sm-0" do %>
            <%= fa_icon "search", :class => "fa-sm fa-fw" %>
          <% end %>

          <div class="container-fluid">
            &nbsp
          </div>

          <%= link_to find_friends_path, :class => "btn btn-success pull-right" do %>
            <%= fa_icon "user-plus", :text => "Find friends", :class => "fa-sm" %>
          <% end %>
        <% end %>

        <hr>
      </div>

      <div class="card-deck" id="friends-deck">
        <%= render :partial => "friends" %>
      </div>

    </div>
  </div>
</div>
