<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :restaurant_id, hidden: true, value: current_manager.restaurant.id %>

  <div class="field">
    <%= f.label :active_from %>
    <%= f.text_field :active_from %>
  </div>

  <div class="field">
    <%= f.label :active_till %>
    <%= f.text_field :active_till %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= form_tag("/create_order_item", :method => "post") do %>
  <%= label_tag(:item, "Item") %>
  <%= text_field_tag(:item) %>
  <%= label_tag(:quantity, "Quantity") %>
  <%= text_field_tag(:quantity) %>
  <%= label_tag(:unit_of_measure, "Unit") %>
  <%= text_field_tag(:unit_of_measure) %>
  <%= submit_tag("Add") %>
<% end %>
