<%= form_for @order do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :restaurant_id, hidden: true, value: current_manager.restaurant.id %>

  <div class="field">
    <%= f.label :active_from %>
    <%= f.text_field :active_from %>
  </div>

  <div class="field">
    <%= f.label :active_till %>
    <%= f.text_field :active_till %>
  </div>

  <h3>Item orders</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Unit</th>
      </tr>
    </thead>
    <tbody id="order_items">
      <%= f.fields_for :order_items do |order_item| %>
          <%= render 'order_item_fields', f: order_item %>
      <% end %>
    </tbody>
  </table>
  <%= link_to_add_association 'Add', f, :order_items,
                                        :"data-association-insertion-node" => "tbody#order_items",
                                        :"data-association-insertion-method" => "append",
                                        :partial => "order_item_fields",
                                        :class => "links btn btn-primary" %>


  <br /><br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
