<div class="jumbotron">
  <h1 class="display-3 text-center">Welcome, <%= current_customer.firstname %>! </h1>
  <hr class="my-4">
  <p class="lead text-center">Ooops! Looks like we don't have any registered restaurants yet. Come by later</p>
  <a class="btn btn-lg btn-success" href="#" role="button">More</a>
</div>

<% unless @friends.empty? %>
  <h2>Friends:</h2>

  <ul>
    <% @friends.each do |friend| %>
      <li>
        <span>
          <%= "#{friend.firstname} #{friend.lastname}" %>
          <%= button_to 'Remove', remove_friend_path,
            method: :delete, params: { friend_id: friend.id } %>

        </span>
      </li>
    <% end %>
  </ul>
<% end %>

<% unless @users.empty? %>
  <h2>Users:</h2>

  <ul>
    <% @users.each do |user| %>
      <li>
        <span>
          <%= "#{user.firstname} #{user.lastname}" %>
          <%= button_to 'Add', send_friend_request_path, params: { friend_id: user.id } %>
        </span>
      </li>
    <% end %>
  </ul>
<% end %>

<% unless @friend_requests.empty? %>
  <h2>Requests:</h2>

  <ul>
    <% @friend_requests.each do |requested_friend| %>
      <li>
        <span>
          <%= "#{requested_friend.firstname} #{requested_friend.lastname}" %>
          <%= button_to 'Accept', accept_friend_request_path, params: { friend_id: requested_friend.id } %>
          <%= button_to 'Decline', decline_friend_request_path, params: { friend_id: requested_friend.id } %>

        </span>
    </li>
  <% end %>
<% end %>
