<h1>Wellcome, <%= current_customer.firstname %> </h1>

<% unless @friends.empty? %>
  <h2>Friends:</h2>

  <ul>
    <% @friends.each do |friend| %>
      <li>
        <span>
          <%= "#{friend.firstname} #{friend.lastname}" %>
          <%= button_to 'Remove', remove_friend_path,
            method: :delete, params: { friend_id: friend.id } %>
        </span>
      </li>
    <% end %>
  </ul>
<% end %>

<% unless @users.empty? %>
  <h2>Users:</h2>

  <ul>
    <% @users.each do |user| %>
      <li>
        <span>
          <%= "#{user.firstname} #{user.lastname}" %>
          <%= button_to 'Add', send_friend_request_path, params: { friend_id: user.id } %>
          <%= button_to 'Block' %>
        </span>
      </li>
    <% end %>
  </ul>
<% end %>

<% unless @requested_friends.empty? %>
  <h2>Requests:</h2>

  <ul>
    <% @requested_friends.each do |requested_friend| %>
      <li>
        <span>
          <%= "#{requested_friend.firstname} #{requested_friend.lastname}" %>
          <%= button_to 'Accept', accept_friend_request_path, params: { friend_id: requested_friend.id } %>
          <%= button_to 'Decline', decline_friend_request_path, params: { friend_id: requested_friend.id } %>
        </span>
    </li>
  <% end %>
<% end %>

<%= link_to 'Log Out', destroy_customer_session_path, method: :delete %>

