<%= hidden_field_tag :waiterId, current_employee.id %>
<div class='container'>
  <h2 style="font-family: Ayres Serif"> <%= current_employee.firstname %> <%= current_employee.lastname %> </h2>
  <span style="float:left;"> <i>My average stars:</i> </span> <br/>
  <div class='rating'>
   <span>&#9734</span><span>&#9734</span><span>&#9734</span><span>&#9734</span><span>&#9734</span>
  </div>
  <br/>
  <br/>
  <div>
    <p style="font-family: Century Gothic;"> Basic informations: </p>
    <span style="font-family: Century Gothic;">Birth date: </span > <%= current_employee.birth_date %> <br/>
    <span style="font-family: Century Gothic;">Clothing size: </span> <%= current_employee.clothing_size %> <br/>
    <span style="font-family: Century Gothic;">Shoe size: </span> <%= current_employee.shoe_size %> <br/> <br/>
  <div>
  <% if @type == "Cook" %>
    <span>Speciality:</span> <p><%= current_employee.speciality %> </p>
  <% end %>

  </div>
    <%= button_to 'Change', edit_employee_registration_path, method: "get",
      form: {style: 'display:inline-block;'} %>
   <span style="font-family: Century Gothic;"> basic informations </span>
  </div>
  <br/>
  <div id="notifications">
    <span style="font-family: Century Gothic">Notifications</span>
    <hr>
  </div>
</div>