<br /><br />
<div class="container">
  <h1>Restaurants <%= current_manager.restaurant.title %> has incomes:</h1>
  <p><input id="pick_date_from" type="date" placeholder="Pick date..."/>  <input id="pick_date_to" type="date" placeholder="Pick date..."/> <input id="showDiv" type="button" class="btn-primary" value="Income..."></p>
  <div id = "show_income" style="display:none;">
    <span class="input-group-addon"><i class="fa fa-usd fa-fw"></i>
    <input class="form-control" type="text" readonly="true" placeholder="<%= restaurant_income %>"></span>
  </div>
  <br /><br />

  <h2>Waiters incomes:</h1>
    <ul>
      <% current_manager.employees.each do |employee| %>
        <% if employee.type == "Waiter" %>
          <li>
            <%= employee.firstname %>
             <span class="input-group-addon"><i class="fa fa-usd fa-fw"></i>
             <input class="form-control" type="text" readonly="true" placeholder="<%= employee_income(current_manager.restaurant) %>"></span>
          </li>
        <% end %>
      <% end %>
    </ul>
</div>
<br />
<div class="alert alert clearfix">
  <%= button_to edit_restaurant_path(current_manager.restaurant), :class => "btn btn-lg pull-left", method: :get do %>
  <%= fa_icon "arrow-left", :class => "fa-lg fa-fw" %>
  <% end %>
<br /><br />
