<br /><br />
<div class="container">
  <h1>Restaurants <%= current_manager.restaurant.title %> has review:
  <div class="acidjs-rating-stars acidjs-rating-disabled">
    <p><%= render_stars(@restaurant_reviews) %></p>
  </div>
</h1>
  <br /><br />
  <h2>Foods review:</h1>
    <ul>
      <select name="food_id">
        <%= @foods.each do |food| %>
          <option value="<%= food.id %>"><%= food.name %> <%= render_stars(render_food_stars(food.id)) %></option>
        <% end %>
      </select>
    </ul>
  <br />
  <h2>Waiters review:</h1>
    <ul>
      <select name="waiter_id">
        <%= @waiters.each do |waiter| %>
          <option value="<%= waiter.id %>"><%= waiter.firstname %> <%= waiter.lastname %> <%= render_stars(render_waiter_stars(waiter.id)) %></option>
        <% end %>
      </select>
    </ul>
</div>
<br />
<div class="alert alert clearfix">
  <%= button_to edit_restaurant_path(current_manager.restaurant), :class => "btn btn-lg pull-left", method: :get do %>
  <%= fa_icon "arrow-left", :class => "fa-lg fa-fw" %>
  <% end %>
<br /><br />
