<div class="container mt-3 rounded reservation-form">
  <div class="mt-5 mb-5 w-100">
    &nbsp;
    <h2 class="display-4 text-center">
      <strong>Reservation</strong>
      <strong class="text-danger">@<%= @restaurant.title %></strong>
    </h2>
    <hr>
  </div>

  <h1 class="ml-5 display-4">Pick a date</h1>
  <hr>

  <div class="mb-5 w-100 d-flex justify-content-center">
    <div class="column w-50">
      <div class="form-group row">
        <label class="col-4 col-form-label">Date and time</label>
        <div class="col-7">
          <input class="form-control" type="datetime-local" value="<%= Time.now.utc.iso8601.gsub("Z", "") %>">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label">Duration (hours)</label>
        <div class="col-7">
          <input class="form-control" type="number" >
        </div>
      </div>
    </div>
  </div>

  <h1 class="ml-5 display-4">Select table</h1>
  <hr>

  <%= content_tag :div, :id => "restaurant-seats", :data => { :temp => @restaurant.seats } do %>
  <% end %>

  <div class="mb-5 container d-flex justify-content-center">
    <div id="seat-map">
      <div id="legend" class="d-flex justify-content-center">
      </div>
    </div>
  </div>

  <h1 class="ml-5 display-4">Invite friends</h1>
  <hr>

  <div class="mb-5">
    <ul class="list-group w-50 container">
      <% @friends.each do |friend| %>
        <li class="list-group-item justify-content-between">
          <%= "#{friend.firstname} #{friend.lastname}" %>
          <%= link_to "Invite", "", :id => friend.id, :name => "invite", :class => "btn btn-success btn-sm active" %>
        </li>
      <% end %>
    </ul>
  </div>

  <h1 class="ml-5 display-4">Menu</h1>
  <hr>

</div>
