<div>
  &nbsp;
  &nbsp;
</div>

<%= hidden_field_tag :reservation, @reservation.id %>

<div class="container invitation">
  <div class="mt-5 container">
    <div>
      <h1 class="text-center display-4">Invitation for <strong class="text-danger"><%= @reservation.restaurant.title %></strong></h1>

      <hr>

      <h5 class="text-muted">Invited by: <%= "#{@reservation.owner.firstname} #{@reservation.owner.lastname}" %></h5>

    </div>
  </div>
  <div class="mb-3">
    <table class="container mt-4 mb-4 table w-75">
      <thead class="thead-inverse">
        <tr>
          <th>Food</th>
          <th>Price</th>
          <th width="25%"></th>
        </tr>
      </thead>
      <tbody>
        <% @reservation.restaurant.foods.each do |food| %>
          <tr class="table-active">
            <td>
                <%= "#{food.name}" %>
            </td>
            <td>
                <%= "$ #{food.price}" %>
            </td>
            <td>
              <%= link_to "Order", "#", :id => food.id, :name => "guest-order-food", :class => "btn btn-success btn-sm active pull-right" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <table class="container mt-4 mb-4 table w-75">
      <thead class="thead-inverse">
        <tr>
          <th>Drink</th>
          <th>Price</th>
          <th width="25%"></th>
        </tr>
      </thead>
      <tbody>
        <% @reservation.restaurant.drinks.each do |drink| %>
          <tr class="table-active">
            <td>
              <%= "#{drink.name}" %>
            </td>
            <td>
              <%= "$ #{drink.price}" %>
            </td>
            <td>
              <%= link_to "Order", "#", :id => drink.id, :name => "guest-order-drink", :class => "btn btn-success btn-sm active pull-right" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <hr>
    <div class="text-center">
      <%= link_to "Send order", "", :id => "guest-create-order", :class => "btn btn-success" %>
    </div>
  </div>
</div>
