<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<h3>Item offers</h3>
<table class="table">
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Unit</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @offer.offer_items.each do |offer_item| %>
      <tr id="<%= offer_item.order_item.id %>">
        <td>
          <%= offer_item.order_item.item %>
        </td>
        <td>
          <%= offer_item.order_item.quantity %>
        </td>
        <td>
          <%= offer_item.order_item.unit_of_measure %>
        </td>
        <td>
          <%= number_field_tag :price, offer_item.price %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= hidden_field_tag :active_from, @offer.offer_items.first.order_item.order.active_from %>
<%= hidden_field_tag :active_till, @offer.offer_items.first.order_item.order.active_till %>
<%= hidden_field_tag :order_id, @offer.offer_items.first.order_item.order.id %>

<div class = "form-group row col-sm-10">
  <label for = "example-datetime-local-input" class = "col-2 col-form-label">Date and time</label>
  <div>
    <input class = "form-control" type = "datetime-local" value = "" id = "offer_time"></input>
  </div>
</div>

<div class="field">
  <% if params[:action] == "new" %>
    <%= link_to "Create", '#', :id => "create_offer", :name => "alert", :class => "btn btn-success active" %>
  <% else %>
    <%= hidden_field_tag :offer_id, @offer.id %>
    <%= link_to "Edit", '#', :id => "edit_offer", :name => "alert", :class => "btn btn-warning" %>
  <% end %>
  <%= link_to "Back", root_path, :class => "btn btn-info" %>
</div>
