  <nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse mb-4">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if @type == 'Cook' %>
      <a class="navbar-brand" href="#"><%= fa_icon "cutlery inverse", :text => "Cooks Profile", :class => "fa-lg fa-fw" %></a>
    <% elsif @type == 'Bartender' %>
      <a class="navbar-brand" href="#"><%= fa_icon "cutlery inverse", :text => "Bartender Profile", :class => "fa-lg fa-fw" %></a>
    <% elsif @type == "Waiter" %>
      <a class="navbar-brand" href="#"><%= fa_icon "cutlery inverse", :text => "Waiter Profile", :class => "fa-lg fa-fw" %></a>
    <% end %>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        </li>
        <li class="nav-item">
        </li>
        <li class="nav-item">
        </li>
      </ul>

      <ul class="navbar-nav mr-right">
        <li class="nav-item active">
          <%= link_to root_path, :class => "nav-link" do %>
            <%= fa_icon "home inverse", :text => "Home", :class => "fa-lg fa-fw" %>
          <% end %>
        </li>

        <li class="nav-item active">
          <%= link_to employee_notifications_path, :class => "nav-link" do %>
            <%= fa_icon "bell inverse", :text => "Notifications", :class => "fa-lg fa-fw" %>
          <% end %>
        </li>
        <li class="nav-item active">
          <%= link_to list_of_orders(@type), :class => "nav-link" do %>
            <%= fa_icon "list", :text => "List of orders", :class => "fa-lg   fa-fw" %>
          <% end %>
        </li>
        <% if @type == 'Waiter' %>
        <li class="nav-item active">
            <%= link_to order_histories_path, :class => "nav-link" do %>
              <%= fa_icon "history", :text => "Orders history", :class => "fa-lg fa-fw" %>
            <% end %>
        </li>
        <% end %>
        <li class="nav-item active">
            <%= link_to employee_calendar_path, :class => "nav-link" do %>
              <%= fa_icon "calendar", :text => "Calendar schedule", :class => "fa-lg fa-fw" %>
            <% end %>
        </li>
        <% if @type == 'Waiter' %>
        <li class="nav-item active">
          <%= link_to employee_reon_path, :method => :get, :class => "nav-link" do %>
            <%= fa_icon "table", :text => "Reons of work", :class => "fa-lg fa-fw" %>
          <% end %>
        </li>
        <% end %>
        <li class="nav-item active">
          <%= link_to current_user_logout_path, :method => :delete, :class => "nav-link" do %>
            <%= fa_icon "sign-out inverse", :text => "Sign out", :class => "fa-lg fa-fw" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  </nav>