<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse mb-4">
	<div class="container">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<a class="navbar-brand" href="#"><%= fa_icon "cutlery inverse", :text => "Reservation Manager", :class => "fa-lg fa-fw" %></a>

		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
				</li>
				<li class="nav-item">
				</li>
				<li class="nav-item">
				</li>
			</ul>

			<ul class="navbar-nav mr-right">
				<li class="nav-item active">
					<%= link_to root_path, :class => "nav-link" do %>
						<%= fa_icon "home inverse", :text => "Home", :class => "fa-lg fa-fw" %>
					<% end %>
				</li>

				<li class="nav-item active">
					<%= link_to friends_path, :class => "nav-link" do %>
						<%= fa_icon "group inverse", :text => "Friends", :class => "fa-lg fa-fw" %>
					<% end %>
				</li>
				<li class="nav-item active">
					<%= link_to notif_path(cont), :class => "nav-link" do %>
            <%= fa_icon "bell inverse", :text => "Notifications", :class => "fa-lg fa-fw" %>
					<% end %>
				</li>
				<li class="nav-item active">
						<%= link_to user_profile_path(cont), :class => "nav-link" do %>
            	<%= fa_icon "user-circle inverse", :text => "Profile", :class => "fa-lg fa-fw" %>
					<% end %>
				</li>
				<li class="nav-item active">
					<%= link_to current_user_logout_path, :method => :delete, :class => "nav-link" do %>
            <%= fa_icon "sign-out inverse", :text => "Sign out", :class => "fa-lg fa-fw" %>
					<% end %>
				</li>
      </ul>
		</div>
  </div>
</nav>
