<!DOCTYPE html>
<html>
  <head>
    <title>Login to ReservationManager</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body <%= render_page_data %> >
    <div>
      <%= flash_messages %>
      <%= yield %>
    </div>
  </body>
</html>

